.button {
  background: unset;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.button:hover {
  filter: saturate(78%);
}

.button--hidden {
  visibility: hidden;
}

.button[disabled],
.button--disabled {
  background-color: var(--white);
  color: #cacaca;
  cursor: default;
}
