:root {
  --brand-primary: #ff4500;
  --brand-secondary: #0079D3;
  --black: #222222;
  --white: #ffffff;
  --lighter-gray: #e9eff1;
  --light-gray: #dfe6e9;
  --gray: #cfd7da;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--light-gray);
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
